<%= render 'layouts/header' %>

<div class="content">
  <div id="unread_heading">
    Unread Messages
  </div>
  <div class="separator"></div>
  <% unless @unread.empty? %>
    <table id="inbox">
      <tr>
        <th>
          Mark as Read?
        </th>
        <th>
          Content
        </th>
      </tr>
      <% @unread.each do |message| %>
        <tr>
          <%= render 'layouts/unread', 
                locals = { message: message.attributes } %>
        </tr>
      <% end %>
    </table>
    <div id="button_wrapper">
      <button id="mark_read">Mark Read</button>
    </div>
  <% else %>
    No new messages
  <% end %>
</div>

<%= render 'layouts/footer' %>
