/*** color vars ***/
$header_color:        #069;
$header_color_top:    #09c;
$footer_color:        #202020;
$nav_color_inactive:  #f0f0f0;
$body_background:     #e8e8e8;
$content_background:  #f0f0f0;
$content_color:       #202020;
$content_shadow:      #202020;
$domain_color:        #787878;
$separator_color:     #d0d0d0;

$twitter_name:        #292f33;
$twitter_screen_name: #8899a6;
$twitter_border:      #e1e8ed;
$twitter_bg:          #fff;
$twitter_link:        #0084b4;
$twitter_inactive:    #ddd;
$twitter_active:      #999;

/*** dimension vars ***/ 
$logo_height:         105px;
$logo_width:          300px;
$footer_height:       150px;
$content_width:       60%;
$content_min_width:   600px;
$content_margin_top:  $logo_height + 10px;
$content_padding:     30px;

$twitter_width:       590px;
$tweet_width:         500px;
$tweet_margin_right:  8px;
$profile_image_width: 48px;

$rt_icon_width:       16px;
$rt_icon_margin:      $profile_image_width - $rt_icon_width;

$captcha_img_height:  50px;
$captcha_img_width:   120px;
$captcha_img_middle:  $captcha_img_height / 2.0;
$refresh_img_size:    24px;
$refresh_img_padding: 6px;
$refresh_img_total:   $refresh_img_size + $refresh_img_padding * 2;
$refresh_img_middle:  $refresh_img_total / 2.0;
$refresh_img_margin:  ($captcha_img_height - $refresh_img_total) / 2.0; 

html {
  position: relative;
  min-height: 100%;
}

/*** Header CSS ***/

header {
  height: $logo_height;
  width: 100%;
  background: -webkit-linear-gradient($header_color_top, $header_color);
  background: -o-linear-gradient($header_color_top, $header_color);
  background: -moz-linear-gradient($header_color_top, $header_color);
  background: linear-gradient($header_color_top, $header_color);
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  overflow-x: hidden;
  width: 960px;

  ul {
    margin-top: 5px;
    margin-left: 20px;
    padding-left: 0;
  }

  li {
    display: inline;
    padding: 0 20px;
    font-size: 25px;
  }

  a, #username {
    color: $nav_color_inactive;
    text-shadow: 1px 2px black;
  }
  
  #username {
    float: right;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 5px;
    font-size: 14px;

    a {
      font-weight: bold;
    }

    #unread a {
      font-weight: normal;
      text-decoration: underline;
    }
  }
}

#r_menu {
  position: absolute;
  top: $logo_height;
  left: 367px;
  width: 200px;
  text-align: left;
  background: $content_background;
  box-shadow: 2px 2px 5px $content_shadow;

  a {
    color: $content_color;
  }

  ul {
   padding: 0px;
   margin: 10px auto 5px;
  }

  li {
    margin: 5px;
  }

  .logout {
    font-weight: bold;
  }
}

#nav-logo {
  margin-right: 50px;
}

#logo_top {
  font-size: 50px;
}

#logo_bottom {
  padding-left: 18px;
  font-size: 30px;
}
#nav-reddit {
  padding-bottom: 10px;
}
/*** Body CSS ***/

body { 
  margin: 0 0 $footer_height;
  height: 100%;
  background: $body_background;
  font-family: helvetica, arial, sans-serif

  textarea {
    width: 500px;
    height: 100px;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  form {

    #login_form {
      width: 95%;
      min-width: $content_min_width - 10px;
      margin: auto;

      h2 {
        color: $content_color;
      }

      input {
        margin: 5px auto;
        padding: 3px;
        height: 35px;
        font-size: 25px;
      }
    }
  }
}

.content {
  margin: $content_margin_top auto 5px;
  padding: $content_padding;
  background: white;
  color: $content_color;
  width: $content_width;
  min-width: $content_min_width;
  box-shadow: 2px 2px 5px $content_shadow;

  ul {
    padding: 0;
  }
}

/*** Center Headings and Titles ***/
.home_heading, .home_content, #mark_read, .pagination, .yt_video, .yt_title, 
#tweet_heading, #reddit_heading, #lctv_heading, #search_wrapper, 
#restrict_option, #lc_title, #cs50_title, #useful_title {
  text-align: center;
}

.home_heading {
  font-size: 20px;
}

.home_content {
  font-size: 18px;

  a {
    color: $content_color;
    font-weight: bold;
  }

  p {
    text-align: left;
    margin-bottom: 25px;
  }
}

/*** Inbox CSS ***/
table {
  border-spacing: 0;
  border-collapse: collapse;
}

#inbox td {
  border: 1px solid $content_color;
}

.checkbox {
  float: left;
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;
}

.message_right {
  float: left;
  width: 500px;
  padding: 10px;
}

.subject_line {
  font-weight: bold;
}

#mark_read {
  margin: 10px auto;
}

.pagination {
  padding: 10px;
  width: $content_width;
  margin: auto;

  a {
    color: $content_color;
    text-shadow: 0 1px $content_shadow;
  }
}

.pset_options {
}

.set {
  float: left;
  padding: 5px;
  min-height: 100px;
}

.terms {
}

.separator {
  border: 1px solid $separator_color;
  margin: 15px auto;
}

.clear {
  clear: both;
}

/*** Common CSS ***/

#tweet_heading, #reddit_heading, #lctv_heading {

  a {
    color: $twitter_name;
    font-size: 56px;
  }
}

/*** reddit CSS ***/

#reddit_heading, #lctv_heading {
  a {
    color: $content_color;
  }
}

.post {
  margin-bottom: 8px;

  .pm_author {
    color: $domain_color;
    font-size: x-small;
  }
}

.post_title {
  font-size: medium;
  margin-bottom: 1px;
  margin-right: .4em;
  
  a {
    text-decoration: none;
  }
}

.post_domain {
  color: $domain_color;
  font-size: x-small;

  a {
    color: $domain_color;

    &:link {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.post_byline {
  margin-bottom: 7px;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.post_content {
  margin-bottom: 15px;
  border: 1px solid #369;
  border-radius: 4px;
  padding: 5px 5px;
  font-size: small;

  p {
    padding: 4px;
  }
}

.post_view_line {
  li {
    padding-right: 5px; 
    display: inline;

    a {
      color: $domain_color;
      font-weight: bold;
      font-size: small;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.post_comment {
  margin: 5px 1px 1px 2px;
  border: 1px solid $domain_color;
  border-radius: 3px;

  .comment_body {
    padding: 10px;
  }
}

.post_content, .post_comment {
  box-shadow: 2px 2px 3px $content_shadow;
}

.comment_reply {
  padding: 5px;
  
  &:hover {
    cursor: pointer;
  }
}

.reply_text, .respond, .context_link {
  float: right;
  margin-right: 10px;
}

.search_content {
  min-height: 400px;
}

#search_wrapper {
  margin-bottom: 10px;
}

#options_wrapper {
  margin-bottom: 10px;
  width: 100%;
  min-width: $content_min_width - 10px;
}

#restrict_option {
  margin-bottom: 5px;
}

#captcha_img {
  float: left;
}
  
#refresh_captcha {
 margin: $refresh_img_margin 5px;
 padding: 6px;
 background: $content_background;
}

/*** Twitter CSS ***/

.tweet, .tweet_content, .tweet_actions {
  background: white;
}

#tweet_heading {
  background: white;
  margin-left: 16px;
  padding: 2px;
  
  #bird {
    margin-right: 10px;
  }
}

.tweet {
  width: $twitter_width;
  padding: 5px 5px;
  margin: 0 auto;
  border-bottom: 1px solid $separator_color;
  color: $twitter_active;

  .rt_line {
    margin-bottom: 5px;

    .rt_icon {
      margin-left: $rt_icon_margin;
      margin-right: $tweet_margin_right;
    }

    a { 
      color: $twitter_active;

      &:hover {
        text-decoration: underline;
        color: $twitter_link;
      }
    }
  }
  
  .tweet_content {
    .tweet_left {
      float: left;
      margin-right: $tweet_margin_right;
      min-height: 95%;
    }

    .tweet_right {
      float: right;
      width: $tweet_width;
      margin-right: 30px;
    }

    .profile_image {
      width: $profile_image_width;
    }

    .tweet_byline {
      margin-bottom: 5px;

      .tweet_name {
        font-weight: bold;
        color: $twitter_name;
        &:hover {
          text-decoration: underline;
          color: $twitter_link;
        }
      }

      .tweet_screen_name {
        color: $twitter_screen_name;
        a {
          &:visited {
            color: $twitter_screen_name;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }

      .tweet_time {
        color: $twitter_screen_name;

        a {
          color: $twitter_screen_name;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .tweet_text {

      .athash {
        color: $twitter_link;
      }

      a {
        color: $twitter_link;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  ul li {
    display: inline;
  }

  .tweet_actions {
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;

    a {
      color: $twitter_active;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*** Youtube CSS ***/
.yt_title {
  width: 550px;
  margin: 15px auto 10px;
  font-weight: bold;
  font-size: 25px;
}

.yt_video {
  margin: auto;
}


/*** Footer CSS ***/

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer_height;
  width: 100%;
  background: $footer_color;

  a {
    padding: 2px;
  }
}

#footer_wrapper {
  width: 650px;
  margin: auto;
}

.vert-separator {
  float: left;
  width: 0;
  height: $footer_height * .75;
  border: 1px solid $nav_color_inactive;
  margin: 0 5px;
}

#lc_links, #cs50_links, #useful_links {
  padding: 0 5px;
  float: left;
}

#lc_title, #cs50_title, #useful_title {
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
}

footer a, #lc_title, #cs50_title, #useful_title {
  color: $nav_color_inactive;
  text-shadow: 1px 2px black;
}
